<ion-content>
  <div class="container">
    <ion-card>
      <ion-card-content>
        <div class="bill">
          <div class="bill_data">
            <ion-label class="bill_title">Delivery type</ion-label>
            <ion-label class="bill_data">{{cart.Ordertype}}</ion-label>
          </div>

          <div class="bill_data">
            <ion-label class="bill_title">Store name</ion-label>
            <ion-label class="bill_data">Gupta clothings</ion-label>
          </div>

          <div class="bill_data">
            <ion-label class="bill_title">Payment type </ion-label>
            <ion-label class="bill_data">{{cart.Payment}}</ion-label>
          </div>
          <div class="bill_data">
            <ion-label class="bill_title">Payment</ion-label>
            <ion-label class="bill_data_price">2000$</ion-label>
          </div>

          <div class="confirmation">
            <ion-label class="bill_confirm">Confirmed</ion-label>
          </div>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
